<div class="content-card">
    <h1 class="h1-title">
        Empleados
        
        <span (click)="navigate()">
            Nuevo
            <mat-icon> group_add </mat-icon>
        </span>
    </h1>
    <hr>
    
    <div class="spinner-border" role="status" *ngIf="!isLoadData">
    </div>

    <div *ngIf="isLoadData">
        <div class="content-img" *ngIf="!hasEmployes">
            <p>
                Estas al dia!
                <br>
                <br>
                Agrega al primer empleado para acceder a el potencial de la herramienta.
            </p>
            <img src="assets/img/new-user.svg" alt="new-user">
        </div>
        <div class="content-img" *ngIf="hasEmployes">
            <p>
                El resumen del momento!
                <br>
                <br>
                {{totalEmployes}}
            </p>
            <img src="assets/img/data.svg" alt="data">
        </div>

    </div>
</div>