.content-card {
    padding: 16px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    .h1-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        span {
            padding: 4px 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: 32px;
            font-size: 14px;
            color: white;
            font-weight: normal;
            background-color: navy;
            cursor: pointer;
        }
    }

    .mat-form-field-data-picker {
        ::ng-deep .mat-form-field-infix  {
            display: flex;
        }
    }
}